name: dev-build-deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
      - uses: actions/aws/cli@master
      - name: install dependencies
        run: yarn --production=false
      - name: lint
        run: yarn lint
      - name: tsc
        run: yarn tsc
      - name: serverless deploy
        uses: serverless/github-action@master
        with:
          args: deploy --force
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: functional tests
        run: yarn test:func
